body{
     background: cyan;
     background: linear-gradient(-45deg, darkorange, cyan, limegreen);
	position: relative;
	animation: 10s ease-in-out infinite;

}

p{
	font-family: 'Bowlby One', cursive;
	color: mediumblue;
	font-size: 50px;
	text-align: center;
}


h1{
	font-family: 'Bowlby One', cursive;
	color: darkorange;
	font-size: 300px;
	text-align: center;

}

h2{
	font-family: 'Bowlby One', cursive;
	color: limegreen;
	font-size: 80px;
	text-align: center;


}

ul{
	font-family: 'Bowlby One', cursive;
	color: red;
	font-size: 50px;
	text-align: center;

}

li{
	color: red;

}

img{
	width: 600px;
	height: 550px;

}
