p{

	color: maroon;
	font-family: sans-serif;
	background: tan;
	margin:50px, 500px, 50px, 50px;
	border-radius: 10px;
	height: 160px;
	width: 1050px;
	font-size: 20px;
}

h1{
	color: saddlebrown;
	font-family: sans-serif;
}

h2{
	color: saddlebrown;
	font-family: sans-serif;
}

h5{
	color: saddlebrown;
	font-family:sans-serif;
}

li{
	color: saddlebrown;
	font-family: maroon;
	background: peru;
	margin:50px, 500px, 50px, 50px;
	border-radius: 10px;
}